/* line 1, /Users/thaliamina/Documents/exercise-4/scss/components/main */
.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out; }

/* line 5, /Users/thaliamina/Documents/exercise-4/scss/components/main */
.flipIn, h1, ul li {
  -webkit-animation: flipdown 0.5s ease both;
          animation: flipdown 0.5s ease both; }

/* line 9, /Users/thaliamina/Documents/exercise-4/scss/components/main */
.no-select, h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 19, /Users/thaliamina/Documents/exercise-4/scss/components/main */
html {
  width: 100%;
  height: 100%;
  -webkit-perspective: 900;
          perspective: 900;
  overflow-y: scroll;
  background-color: #ccc;
  font-family: sans-serif;
  color: #000; }

/* line 29, /Users/thaliamina/Documents/exercise-4/scss/components/main */
body {
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 90px 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  box-shadow: 0 10px 0 0 #00bbbb inset;
  background-color: #fefffa;
  max-width: 450px;
  padding: 30px; }

@media (max-width: 550px) {
  /* line 42, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  body {
    box-sizing: border-box;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0; }
 }

/* line 52, /Users/thaliamina/Documents/exercise-4/scss/components/main */
h1, h2 {
  color: #ff6873; }

/* line 56, /Users/thaliamina/Documents/exercise-4/scss/components/main */
h1 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100; }

/* line 64, /Users/thaliamina/Documents/exercise-4/scss/components/main */
h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  background-color: #fefffa;
  margin: 0;
  cursor: pointer; }

/* line 75, /Users/thaliamina/Documents/exercise-4/scss/components/main */
p {
  color: rgba(48, 69, 92, 0.8);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2; }

/* line 89, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul {
  list-style: none;
  -webkit-perspective: 900;
          perspective: 900;
  padding: 0;
  margin: 0; }

/* line 95, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb; }

/* line 103, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

/* line 106, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s; }

/* line 109, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li:nth-of-type(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

/* line 112, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li:last-of-type {
  padding-bottom: 0; }

/* line 115, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li i {
  position: absolute;
  -webkit-transform: translate(-6px, 0);
      -ms-transform: translate(-6px, 0);
          transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0; }

/* line 121, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px; }

/* line 128, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li i:before {
  -webkit-transform: translate(-2px, 0) rotate(45deg);
      -ms-transform: translate(-2px, 0) rotate(45deg);
          transform: translate(-2px, 0) rotate(45deg); }

/* line 131, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li i:after {
  -webkit-transform: translate(2px, 0) rotate(-45deg);
      -ms-transform: translate(2px, 0) rotate(-45deg);
          transform: translate(2px, 0) rotate(-45deg); }

/* line 134, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0; }

/* line 142, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%); }

/* line 148, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li input[type=checkbox]:checked ~ i:before {
  -webkit-transform: translate(2px, 0) rotate(45deg);
      -ms-transform: translate(2px, 0) rotate(45deg);
          transform: translate(2px, 0) rotate(45deg); }

/* line 151, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li input[type=checkbox]:checked ~ i:after {
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
      -ms-transform: translate(-2px, 0) rotate(-45deg);
          transform: translate(-2px, 0) rotate(-45deg); }

@-webkit-keyframes flipdown {
  /* line 156, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }

  /* line 161, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  5% {
    opacity: 1; }

  /* line 164, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg); }

  /* line 167, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg); }

  /* line 170, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg); }

  /* line 173, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }

@keyframes flipdown {
  /* line 156, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }

  /* line 161, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  5% {
    opacity: 1; }

  /* line 164, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg); }

  /* line 167, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg); }

  /* line 170, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg); }

  /* line 173, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }
