/* line 1, /Users/thaliamina/Documents/exercise-4/scss/components/main */
.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out; }

/* line 5, /Users/thaliamina/Documents/exercise-4/scss/components/main */
.flipIn, h1, ul li {
  -webkit-animation: flipdown 0.5s ease both;
          animation: flipdown 0.5s ease both; }

/* line 9, /Users/thaliamina/Documents/exercise-4/scss/components/main */
.no-select, h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 19, /Users/thaliamina/Documents/exercise-4/scss/components/main */
html {
  width: 100%;
  height: 100%;
  -webkit-perspective: 900;
          perspective: 900;
  overflow-y: scroll;
  background-color: #00bbbb; }

/* line 27, /Users/thaliamina/Documents/exercise-4/scss/components/main */
body {
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 90px 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  box-shadow: 0 10px 0 0 #D3D3D3 inset;
  background-color: #F0F0F0;
  border-radius: 25px;
  max-width: 450px;
  padding: 30px; }

@media (max-width: 550px) {
  /* line 41, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  body {
    box-sizing: border-box;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0; }
 }

/* line 51, /Users/thaliamina/Documents/exercise-4/scss/components/main */
h1, h2 {
  font-family: 'Open Sans Condensed', sans-serif; }

/* line 55, /Users/thaliamina/Documents/exercise-4/scss/components/main */
h1 {
  color: #00bbbb;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 42px;
  letter-spacing: 3px; }

/* line 63, /Users/thaliamina/Documents/exercise-4/scss/components/main */
h2 {
  color: #000;
  font-size: 30px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer; }

/* line 74, /Users/thaliamina/Documents/exercise-4/scss/components/main */
p {
  color: #00bbbb;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2; }

/* line 89, /Users/thaliamina/Documents/exercise-4/scss/components/main */
img {
  margin-bottom: 2rem; }

/* line 93, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul {
  list-style: none;
  -webkit-perspective: 900;
          perspective: 900;
  padding: 0;
  margin: 0; }

/* line 99, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 7px dotted #D3D3D3; }

/* line 107, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

/* line 110, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s; }

/* line 113, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li:nth-of-type(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

/* line 116, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li:last-of-type {
  padding-bottom: 0; }

/* line 119, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li i {
  position: absolute;
  -webkit-transform: translate(-6px, 0);
      -ms-transform: translate(-6px, 0);
          transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0; }

/* line 125, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #00bbbb;
  width: 3px;
  height: 9px; }

/* line 132, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li i:before {
  -webkit-transform: translate(-2px, 0) rotate(45deg);
      -ms-transform: translate(-2px, 0) rotate(45deg);
          transform: translate(-2px, 0) rotate(45deg); }

/* line 135, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li i:after {
  -webkit-transform: translate(2px, 0) rotate(-45deg);
      -ms-transform: translate(2px, 0) rotate(-45deg);
          transform: translate(2px, 0) rotate(-45deg); }

/* line 138, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0; }

/* line 146, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%); }

/* line 152, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li input[type=checkbox]:checked ~ i:before {
  -webkit-transform: translate(2px, 0) rotate(45deg);
      -ms-transform: translate(2px, 0) rotate(45deg);
          transform: translate(2px, 0) rotate(45deg); }

/* line 155, /Users/thaliamina/Documents/exercise-4/scss/components/main */
ul li input[type=checkbox]:checked ~ i:after {
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
      -ms-transform: translate(-2px, 0) rotate(-45deg);
          transform: translate(-2px, 0) rotate(-45deg); }

@-webkit-keyframes flipdown {
  /* line 160, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }

  /* line 165, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  5% {
    opacity: 1; }

  /* line 168, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg); }

  /* line 171, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg); }

  /* line 174, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg); }

  /* line 177, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }

@keyframes flipdown {
  /* line 160, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }

  /* line 165, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  5% {
    opacity: 1; }

  /* line 168, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg); }

  /* line 171, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg); }

  /* line 174, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg); }

  /* line 177, /Users/thaliamina/Documents/exercise-4/scss/components/main */
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }
